/* suggest to browsers to use 3D acceleration for our SVG elements (CSS hack) */

svg, svg g g, line, circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}



/* Basic geometry */

html, input, button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}
html, body, .graph-app, .graph-container {
    margin: 0;
    padding: 0;
}
html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body {
    overflow: hidden;
}
body, .graph-app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
}
.smartsexplore-app, .graph-container, .graph-container svg {
    width: 100vw;
    height: 100vh;
}



/* Settings & info containers */

.settings-container, .info-container {
    position: fixed;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
		0 2px 2px rgba(0,0,0,0.15),
		0 4px 4px rgba(0,0,0,0.15),
		0 8px 8px rgba(0,0,0,0.15);
    border-radius: 2px;

    max-height: 100%;
    overflow-y: auto;
}
.settings-container {
    width: 20%;
    min-width: 300px;
    top: .5rem;
    left: .5rem;
    height: auto;
    margin: 0;
    padding: 0; /* padding applied in collapsible content */
}
.info-container {
    top: .5rem;
    right: .5rem;
    width: 20vw;
    padding: 1rem;
}
.info-container .title {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    font-variant: small-caps;
}



/* SMARTS preview */

.smarts-preview {
    margin: 0;
    padding: 0;
}
.smarts-preview {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin: 1rem 0;
    border-radius: 2px;
}
.smarts-preview > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.smarts-preview svg {
    width: 100%;
    height: 100%;
}
.smarts-preview image {
    width: 100%;
    height: auto;
}


/* Molecule matches */

.molecule-grid {
    max-height: 30vh;
    overflow: auto;
    margin-top: 10px;
}
.molecule-grid .molecule {
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - 10px);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
    padding: 5px;
    padding-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}
.molecule-grid .molecule img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.molecule-grid .molecule label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.molecule-grid .molecule.common-match {
    border-color: limegreen;
}
.molecule-grid .molecule.different-match {
    border-color: orangered;
}


/* Settings container: component styling */

.settings-container input {
    max-width: 100%;
}
.settings-container .search-bar {
    width: 100%;
    max-width: 100%;
}

.settings-container .collapsible {
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.settings-container .collapsible-body {
    padding: 1rem;
}
.settings-container .collapsible-body .row:last-of-type {
    margin-bottom: 2px; /* oddly specific but ok */
}

.settings-container .row.search {
    margin-bottom: 10px;
}
.settings-container .row.search .search-container {
    margin-top: .5rem;
}
.search-container.input-field {
    margin-bottom: 0;
}
.settings-container .row.range-slider {
    margin-bottom: 50px;
}

.row.library-select {
    margin-bottom: 0;
}
.library-select .col > label:first-of-type {
    display: block;
    margin-bottom: .5rem;
}
.library-select .row:last-of-type {
    margin-bottom: 0;
}
.library-select .library-selector {
    margin: .1rem 0;
}
.library-select .library-selector label span {
    /* describes text of checkbox */
    padding-left: 28px;
}

.colorbar {
    height: 25px;
    margin-top: 15px;
}
.colorbar .col {
    width: 100%;
    height: 30px;
}
.colorbar .colorbar-block {
    /* width should be set for each */
    height: 100%;
    display: inline-block;
}

.upload-box button {
  margin-top: 10px;
}

.slider-container {
    padding: 5px;
    padding-bottom: 35px;
}
.slider-container .noUi-pips-horizontal {
    height: auto;
}

.col.matches-toggle {
    padding-top: 1rem;
}

/* Graph objects */

.hidden {
    display: none !important;
}

.node {
    stroke-width: 3;
    stroke: black;
}
.node.transparent-border {
    stroke: rgba(0,0,0,0.15);
}
.node:hover {
    opacity: 1;
}
.node:not(:hover):not(.highlighted).muted {
    opacity: 0.1;
}
.node.highlighted {
    fill: magenta;
}
.node.node-fixed {
    stroke: #ee1eeb;
}

.composite-line:not(:hover):not(.highlighted).muted .edge.real {
    opacity: 0.1;
}
.composite-line.highlighted .edge.real {
    stroke: magenta;
}
.composite-line.highlighted:not(.equal) .edge.real {
    marker-end: url('#arrowhead-highlight');
}
#arrowhead-highlight path {
    fill: magenta;
}

.edge.hoverhelper {
    opacity: 0;
}
.composite-line:hover .edge.hoverhelper {
    opacity: 0.5;
}

.display-block {
    display: block;
}



/* Customized Materialize.css components / overrides */

input.with-icon-btn {
    width: calc(100% - 36px) !important;
}
.btn-flat.icon-btn {
    padding: 0;
    width: 36px;
    text-align: center;
    border-radius: 100%;
}
.icon-btn-right {
    margin-right: -6px;
    margin-top: 6px;
    float: right;
}
.icon-btn-left {
    margin-left: -6px;
    float: left;
    margin-top: 6px;
}

#toast-container {
    top: auto;
    left: auto;
    bottom: 10%;
    right: 7%;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    padding-left: 30px;
}

.input-like {
    display: inline-block;
    margin-top: 15px;
}

.collapsible-header {
    background: #f3f3f3;
}


/* Responsive container styling */

@media only screen and (max-width: 600px) {
    .settings-container {
        width: 33.333333333333333333%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .settings-container {
        width: 33.333333333333333333%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .settings-container {
        width: 25%;
    }
}

@media only screen and (min-width: 1201px) {
    .settings-container {
        width: 16.6666666666666666666%;
    }
}


/* Night mode */

.night-mode, .night-mode * {
    color: #eee;
}
.night-mode,
.night-mode .settings-container,
.night-mode .info-container {
    background: #333;
}
.night-mode .collapsible-header {
    background: #2a2a2a;
}
.night-mode input:not([type]):disabled,
.night-mode input[type="text"]:not(.browser-default):disabled,
.night-mode input[type="text"]:not(.browser-default)[readonly="readonly"] {
    color: rgba(239, 239, 239, 0.42);
}
